/*Menubar*/
#menubar {
    border-bottom: 2px black solid;
}

#menubar li {
    padding: 3px 8px;
}

#options-modal .modal-content {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#scenario-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.scenario-button {
    margin: 2px 2px;
}