html,
body {
    font-size: small;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

nav ul {
    background-color: whitesmoke;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    background: whitesmoke;
    list-style: none;
}

footer {
    background-color: gray;
    flex-shrink: 0;
}

table,
th,
td {
    padding: 5px 5px;
    border: 1px solid gray;
    border-collapse: collapse;
}

/*Menubar*/


#menubar {
    border-bottom: 2px black solid;
}

#menubar li {
    padding: 3px 8px;
}

#options-modal .modal-content {
    display: flex;
    flex-direction: column;
    width: 25%;
}


/*Timeline editor*/

#timeline-editor {
    border-right: black 2px solid;
    width: 30%;
    overflow: scroll;
    height: 95vh;
}

#timeline-editor table {
    margin: 0;
    padding: 0;
    width: 100%;
}

#timeline-editor tbody td {
    background-color: whitesmoke;
}

.date-cell {
    width: 30%;
}


/*Map editor*/

.leaflet-container {
    background: #AADAFF;
}

#map-editor {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#toolbar {
    width: 100%;
    border-bottom: solid gray 2px;
    height: 10vh;
}

#map {
    height: 90%;
    z-index: 0;
    /* So that it doesn't compete over the help popup*/
}

.legend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 18px;
    color: #555;
    overflow-x: scroll;
    height: 30vh;
    width: 30vh;
}

.legend-entry {
    display: flex;
    flex-direction: row;
    margin: 2px 5px;
}

.legend i {
    border: 1px black solid;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#colour-mode {
    border-top: gray 2px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    height: 28%;
    width: 100%;
}

.fill-mode {
    border: lightgray outset 3px;
    border-radius: 2px;
    text-align: center;
    display: block;
    padding: 0;
    margin: 4px 1px;
    min-height: 15px;
    max-height: 15px;
    min-width: 100px;
    max-width: 100px;
}

.fill-mode.active {
    border: gray 3px inset;
}

#colour-choice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    height: 70%;
    width: 100%;
    overflow-y: scroll;
}

.colour {
    border: lightgray outset 3px;
    border-radius: 2px;
    text-align: center;
    display: block;
    padding: 0;
    margin: 4px 1px;
    min-height: 15px;
    max-height: 15px;
    min-width: 15px;
    max-width: 15px;
}

.colour.on-map {
    border: black 3px double;
}

.colour.hovered-on {
    /*This defined after above as the class property hovered-on (as in corresponding colour region hovered on in map) should take priority over on-map for border*/
    margin-top: 0px;
    margin-bottom: 8px;
    border: black 3px dashed;
}

.colour.active {
    /*This defined after above as the class property active should take priority over above2*/
    border: black 3px solid;
    margin-top: 0px;
    margin-bottom: 8px;
}

#no-colour:after {
    display: inline-block;
    content: "\00d7";
    text-align: center;
    font-weight: 700;
    color: red;
}


/*Functionality*/

.button {
    transition: all 0.2s ease-out;
}

.button:hover {
    filter: brightness(90%);
}

.button.active {
    filter: brightness(80%);
}

.modal {
    display: block;
    transition: opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    /* Hidden by default; the opacity is to allow for transtitions as display from none to block alone doesn't transit*/
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    border-radius: 20px;
}


/* The Close Button for modals*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}