html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

nav ul {
    background-color: whitesmoke;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    background-color: gainsboro;
    list-style: none;
    padding: 0px 5px;
}

footer {
    background-color: gray;
    flex-shrink: 0;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
}

#menubar {
    border-bottom: 2px black solid;
}

#menubar li {
    margin-right: 2px;
    padding: 3px 8px;
}


/*Timeline editor*/

#timeline-editor {
    border-right: black 2px solid;
    width: 30%;
    overflow: scroll;
    height: 95vh;
}

#timeline-editor table {
    margin: 0;
    padding: 0;
    width: 100%;
}

#timeline-editor tbody td {
    background-color: whitesmoke;
}

.date-cell {
    width: 30%;
}


/*Map editor*/

.leaflet-container {
    background: #AADAFF;
}

#map-editor {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#toolbar {
    height: 25px;
    width: 100%;
    border-bottom: solid gray 2px;
}

#map {
    height: 90%;
    z-index: 0;
    /* So that it doesn't compete over the help popup*/
}

.legend {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    color: #555;
}

.legend-entry {
    display: flex;
    flex-direction: row;
    margin: 2px 0px;
}

.legend i {
    border: 1px black solid;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#colour-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.colour {
    border: whitesmoke 1px solid;
    display: block;
    margin: 2px 1px;
    height: 90%;
    width: 4.5%;
}

.colour.active {
    border: black 2px solid;
}

#no-colour {
    background-color: white;
}

#no-colour:after {
    display: inline-block;
    content: "\00d7";
    text-align: center;
    font-weight: 700;
    color: red;
}

#custom-colour label {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#custom-colour input {
    display: none;
}

#white {
    background-color: white;
}

#gray {
    background-color: gray;
}

#silver {
    background-color: silver;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#crimson {
    background-color: crimson;
}

#ruby {
    background-color: #9B111E;
}

#yellow {
    background-color: yellow;
}

#fire {
    background-color: #e25822;
}

#gold {
    background-color: gold;
}

#lime {
    background-color: lime;
}

#persian-green {
    background-color: #00A693;
}

#basil {
    background-color: #579229;
}

#navy {
    background-color: navy;
}

#sky-blue {
    background-color: skyblue;
}

#persian-blue {
    background-color: #1C39BB;
}

#lavender {
    background-color: lavender;
}

#tyrian-purple {
    background-color: #66023C;
}

#wine {
    background-color: #722f37;
}

#brown {
    background-color: brown;
}


/*Functionality*/

.button {
    transition: all 0.2s ease-out;
}

.button:hover {
    filter: brightness(80%);
}

.button.active {
    filter: brightness(80%);
}

.modal {
    display: block;
    transition: opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    /* Hidden by default; the opacity is to allow for transtitions as display from none to block alone doesn't transit*/
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 20px;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}